<header class="site-header">
    <h1>Claude Monet</h1>
    <nav>
        <a href={{ link_index }} class="navigation_link">Главная</a>
        <a href={{ link_menu }} class="navigation_link">Меню</a>
        <a href={{ link_contscts }} class="navigation_link">Контакты</a>
        <a href={{ link_about }} class="navigation_link">О компании</a>
        <a href={{ link_f1 }} class="navigation_link">Отзывы</a>
    </nav>
</header>